<form name="shipping">
  <legend>Shipping form</legend>
  <input type="text" name="zipcode" value="60607" data-id="shipping-zipcode">
</form>

<form name="billing">
  <legend>Billing form</legend>

  <label for="zipcode-label">Same as shipping</label>
  <input type="checkbox" id="zipcode-label" checked="checked" data-id="billing-should-use-shipping-zipcode">

  <input type="text" name="zipcode" data-id="billing-zipcode">
</form>

<script type="application/javascript">
(function() {
  "use strict";

  var $sourceInput = $("[data-id='shipping-zipcode']"),
      $targetInput = $("[data-id='billing-zipcode']"),
      $checkbox    = $("[data-id='billing-should-use-shipping-zipcode']");

  var syncer, toggler;

  toggler = new NS.ToggleInputBasedOnCheckbox({
    input: $targetInput,
    checkbox: $checkbox
  });

  syncer = new NS.SyncInputFields({
    sourceInput: $sourceInput,
    targetInput: $targetInput,
    conditionFn: function() {
      return $checkbox.prop('checked');
    },
    formatterFn: function(value) {
      return value.substring(0, 5);
    }
  });

  new NS.BindEventOnElementToCommand({
    element: $checkbox,
    event: "change",
    command: function() {
      toggler.execute();
    }
  }).execute();

  new NS.BindEventOnElementToCommand({
    element: $sourceInput,
    event: "change",
    command: function() {
      syncer.execute();
    }
  }).execute();

  new NS.BindEventOnElementToCommand({
    element: $checkbox,
    event: "change",
    command: function() {
      syncer.execute();
    }
  }).execute();

  new NS.BindEventOnElementToCommand({
    element: $sourceInput,
    event: "keyup",
    command: function() {
      syncer.execute();
    }
  }).execute();
})();
</script>
